ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.day {
    // margin: 10px;
    padding: 10px;
    width: 200px;
    // min-width: 60em;

    .mini-task {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.container {
    margin: 0 auto;
    padding: 0;
}

.weekly {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}