nav {
    background: white;
    border-bottom: rgb(180, 180, 180) solid 1px;

    .navbar-brand {
        // font-family: 'Fjalla One', sans-serif;
        // font-size: xx-large;
        color: black;
    }

    .navButton {
        margin: 0 5px;
    }

}